<div class="container mt-5">
  <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        ngModel
        #name="ngModel"
      />
      <div class="form-text" *ngIf="name.touched && name.invalid">
        Name required!!!
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        ngModel
        #price="ngModel"
        pattern="\d+(\.\d+)?"
        required
      />
      <div
        class="form-text"
        *ngIf="price.dirty && price.touched && price.invalid"
      >
        Price must be number!!!
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        required
        name="description"
        ngModel
        #description="ngModel"
        minlength="10"
      />
      <div
        class="form-text"
        *ngIf="description.dirty && description.touched && description.invalid"
      >
        You need to add more than 10 caracters!!!
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formRef.invalid">
      Add Product
    </button>
  </form>
</div>
